<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Learnstream</title>
    <link id="favicon" rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="stylesheet" href="/assets/stylesheets/fontfaces.css" />
    <link rel="stylesheet" href="/assets/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/assets/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/assets/stylesheets/bg.css" />
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />

    <script type="text/javascript" src="/assets/javascripts/vendor/jquery.js"></script>
    <script src="/assets/javascripts/vendor/custom.modernizr.js"></script>
    <script src="/assets/javascripts/vendor/handlebars.js"></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src="/assets/javascripts/vendor/underscore.js"></script>
    <script src="/assets/javascripts/vendor/backbone.js"></script>
    <script src="/assets/javascripts/vendor/backbone-firebase.js"></script>
    <script src="/assets/javascripts/questionstream.js"></script>
    <script src="/assets/javascripts/singlyauth.js"></script>
    <script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
  </head>
  <script>
    var accessToken = '<%= session.accessToken %>';
    var firebaseUrl = '<%= session.fireBase %>';
  </script>

  <body>
    <div class="topBar">
      <div class="header row">
        <h3 class="small-6 large-6 columns"><img src="/assets/images/icon.png" />Learnstream</h3>
        <a href="#" class="login small-6 large-6 columns"><span class="userInfo"></span></a>
      </div>
    </div>

    <div class="codeSession row">
      <div id="editor" class="small-8 large-8 columns"></div>
      <div id="chat" class="small-4 large-4 columns">
        <div id="myPublisherDiv"></div>
        
        <script type="text/javascript">
          var apiKey = '<%= opentok_key %>';
          var sessionId = '<%= TokSession %>';
          var token = '<%= session.tokToken %>';
          var session = TB.initSession(sessionId);
          session.addEventListener('sessionConnected', sessionConnectedHandler);
          session.connect(apiKey, token);
          
          function sessionConnectedHandler(event) {
            var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
            session.publish(publisher);
          }
        </script>
      </div>
    </div>

    <script src="/assets/javascripts/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
